.app {
  padding: 10rem 0 20rem;
}

.app .row {
  background-color: $primary-color;
  border-radius: 2rem;
  position: relative;

  .col:first-child {
    margin-left: 5rem;
    .circle {
      border-radius: 50%;
      height: 57rem;
      width: 57rem;
      border: 7rem solid $red-color-1;
      position: relative;
      .inner-circle {
        border-radius: 50%;
        height: 43rem;
        width: 43rem;
        border: 7rem solid $red-color-2;
      }

      img {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
      }
    }
  }

  .col:last-child {
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    width: 40%;

    h2 {
      color: $white-color;
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      color: $white-color;
      margin-bottom: 2rem;
    }

    .d-flex {
      img:first-child {
        margin-right: 2rem;
      }
    }
  }
}

@media (max-width: 1300px) {
  .app {
    .row {
      .col:first-child {
        margin-left: 0;
      }

      .col:last-child {
        h2 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .app {
    background-color: $primary-color;
    padding: 10rem 0 10rem;
    height: 40rem;
    .row {
      height: 100%;
      .col:first-child {
        display: none;
      }

      .col:last-child {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        h2 {
          font-size: 3rem;
        }
        img {
          height: 4rem;
        }
      }
    }
  }
}

@media(max-width: 567px){
    .app .row .col:last-child h2{
        font-size: 2.5rem;
    }
}